
*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #2D2C2C;
    width: 230px;
    height: 3000px;
    font-size: 25px;
    font-family: 'Fredoka';
    
}
.menu-item{
    padding-top: 30vh;
    padding-left: 75px;
    display: inline-block;
    color: white;

}
.background{
background-color: #530700;

}
li { 
     list-style-type: none;
 }
 body{
    display: grid;
    grid-template-columns:20% 50% 30%;
   

 }
 .txt-principal{
    padding-top: 50px;
    padding-right: 600px ;
    font-family: 'Fredoka';
    color: white;

 }
 .img-principal{
    padding-right:100px ;
    padding-top: 100px;
   height: 500px;
   width: 400px;
 }
