
*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #2D2C2C;
    width: 230px;
    height: 3000px;
    font-size: 25px;
    font-family: 'Fredoka';
    
}
.menu-item{
    padding-top: 30vh;
    padding-left: 50px;
}
.background{
background-color: #311210;

}
